.git
vendor
node_modules
.env
storage/*.key
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
storage/logs/*
phpunit.xml
.admin_password
RECOVERY_INSTRUCTIONS.txt
apkproxy_preview.html
health.php
restore-trigger.php
